import(methods)
import(Rcpp)
import(SparseM)
import(tm)

exportClasses(maxent)

exportPattern("^[^\\.]")

S3method("as","compressed.matrix")
S3method("predict","maxent")
S3method("load","model")
S3method("save","model")

useDynLib(maxent)
